# Series

In [2]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [2]:
ice_cream = ["Chocolate", "Strawberry", "Vanilla", "Grape"]

pd.Series(ice_cream)

0     Chocolate
1    Strawberry
2       Vanilla
3         Grape
dtype: object

In [3]:
lottery_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create a Series Object from a Dictionary

In [6]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [9]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [10]:
prices.sum()

8.8

In [11]:
prices.product()

18.095480000000006

In [12]:
prices.mean()

2.9333333333333336

In [13]:
prices.std()

1.5457791994115246

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [4]:
adjectives = pd.Series(["Smart", "Handsome", "Brilliant", "Humble", "Charming", "Smart"])
adjectives

0        Smart
1     Handsome
2    Brilliant
3       Humble
4     Charming
5        Smart
dtype: object

In [19]:
adjectives.size

6

In [20]:
adjectives.is_unique

False

In [21]:
adjectives.values

array(['Smart', 'Handsome', 'Brilliant', 'Humble', 'Charming', 'Smart'],
      dtype=object)

In [22]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
type(adjectives.values)

numpy.ndarray

In [6]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [10]:
fruits = ["Apple", "Orange", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

In [13]:
pd.Series(fruits)
pd.Series(weekdays)
pd.Series(fruits, weekdays)
pd.Series(weekdays, fruits)

Apple            Monday
Orange          Tuesday
Grape         Wednesday
Blueberry      Thursday
Watermelon       Friday
dtype: object

In [16]:
pd.Series(data=fruits, index=weekdays)
pd.Series(index=weekdays, data=fruits)

Monday            Apple
Tuesday          Orange
Wednesday         Grape
Thursday      Blueberry
Friday       Watermelon
dtype: object

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [20]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [26]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [27]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [31]:
pokemon.head(9)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
Name: Name, dtype: object

In [33]:
google.tail(10)

4783    127.849998
4784    129.130005
4785    130.850006
4786    134.727005
4787    130.139999
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [34]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [44]:
len(pokemon)
type(pokemon)
list(pokemon)
sorted(pokemon)
sorted(google)
dict(pokemon)

max(google)
min(google)

max(pokemon)
min(pokemon)

'Abomasnow'

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [45]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [49]:
"Bulbasaur" in pokemon
0 in pokemon.index
"Bulbasaur" in pokemon.values
"Slowpoke" in pokemon.values

True

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [53]:
google.sort_values()
google.sort_values(ascending=False).head()

4395    151.863495
4345    151.000000
4346    150.141754
4336    150.000000
4341    150.000000
Name: Price, dtype: float64

In [58]:
pokemon.sort_values()
pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Name, dtype: object

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

In [61]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")

In [63]:
pokemon.sort_index()
pokemon.sort_index(ascending=False)

Name
Zygarde      Dragon, Ground
Zweilous       Dark, Dragon
Zubat        Poison, Flying
Zorua                  Dark
Zoroark                Dark
                  ...
Aegislash      Steel, Ghost
Accelgor                Bug
Absol                  Dark
Abra                Psychic
Abomasnow        Grass, Ice
Name: Type, Length: 1010, dtype: object

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [64]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [78]:
pokemon.iloc[150]
pokemon.iloc[[100, 200, 300]]
pokemon.iloc[20: 30]
pokemon.iloc[:9]
pokemon.iloc[950:]

pokemon.iloc[-1]
pokemon.iloc[-10:-5]
pokemon.iloc[-8:]
pokemon.iloc[:-10]

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
995      Frigibax
996      Arctibax
997    Baxcalibur
998    Gimmighoul
999     Gholdengo
Name: Name, Length: 1000, dtype: object

## Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [80]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [86]:
pokemon.loc["Bulbasaur"]
pokemon.iloc[0]

'Grass, Poison'

In [82]:
pokemon.loc["Slowpoke"]

'Water, Psychic'

In [87]:
pokemon.loc[["Pikachu", "Charizard", "Meowth"]]

Name
Pikachu          Electric
Charizard    Fire, Flying
Meowth             Normal
Name: Type, dtype: object

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [94]:
pokemon.get("Moltres")
pokemon.get("Digimon")
pokemon.get("Digimon", "Nonexistent")
pokemon.get("Slowpoke", "Nonexistent")

pokemon.get(["Moltres", "Digimon"], "One of the values is Nonexistent")

'One of the values is Nonexistent'

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [ ]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")

In [97]:
pokemon.iloc[[1, 2, 4]] = ["Firemon", "Flameon", "Blza"]

In [98]:
pokemon.head()

0     Bulbasaur
1       Firemon
2       Flameon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [99]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [100]:
pokemon.loc["Bulbasaur"] = "Fat Ass"

In [101]:
pokemon.head()

Name
Bulbasaur           Fat Ass
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [103]:
pokemon.iloc[1] = "Silly"
pokemon.head()

Name
Bulbasaur           Fat Ass
Ivysaur               Silly
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [105]:
pokemon["Bulbasaur"] = "Something else"
pokemon.head()

Name
Bulbasaur     Something else
Ivysaur                Silly
Venusaur       Grass, Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

In [116]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [117]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [118]:
pokemon_series[0] = "Whatever"

In [119]:
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [120]:
pokemon_df.head()

         Name
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [4]:
google = pd.read_csv("files/google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [6]:
google.count()
google.size

4793

In [13]:
google.sum()
google.product()
google.mean()
google.std()
google.max()
google.min()
google.median()
google.mode()
google.describe()

/opt/conda/envs/sagemaker-distribution/lib/python3.10/site-packages/numpy/core/_methods.py:53: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [21]:
google.add(10)
google + 10

google.sub(30) 
google - 30

google.mul(1.25)
google * 1.25

google.div(2)
google / 2

0        1.245332
1        1.257910
2        1.379206
3        1.385307
4        1.307100
          ...
4788    66.040001
4789    66.499000
4790    67.785004
4791    68.525002
4792    69.214996
Name: Price, Length: 4793, dtype: float64

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [22]:
pokemon = pd.read_csv("files/pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [30]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)
pokemon.value_counts(normalize=True)
pokemon.value_counts(normalize=True).mul(100).round(2)

Type
Water               7.33
Normal              7.33
Grass               4.55
Psychic             3.86
Fire                3.56
                    ...
Dragon, Normal      0.10
Flying, Fighting    0.10
Dragon, Water       0.10
Ground, Fighting    0.10
Fairy, Psychic      0.10
Name: proportion, Length: 200, dtype: float64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [32]:
pokemon = pd.read_csv("files/pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [34]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [39]:
def count_of_a(pokemon):
    return pokemon.count("a")

pokemon.apply(count_of_a)
pokemon.apply(count_of_a).value_counts()

Name
0    467
1    402
2    115
3     25
4      1
Name: count, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [40]:
pokemon = pd.read_csv("files/pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [44]:
attack_powers = pd.Series({
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50,
})
attack_powers

Grass              10
Fire               15
Water              15
Fairy, Fighting    20
Grass, Psychic     50
dtype: int64

In [45]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64